<div class="container">
    <h1>Printify</h1>
    <form>
        <div class="form-group">
            <label for="exampleFormControlFile1">Escoge tu archivo de texto a analizar</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </form>
    <button type="button" class="btn btn-primary">Upload</button>
</div>

